body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 600px;
  margin: 20px;
}

.header {
  text-align: center;
}

.avatar {
  width: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

h1 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

p {
  margin: 5px 0;
  color: #666;
}

.icons {
  text-decoration: none;
  margin: 20px 10px;
  color: #000;
}

hr {
  border: none;
  border-top: 1px solid #eee;
  margin: 20px 0;
}

.info-sections {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section {
  width: 100%;
  margin-bottom: 20px;
}

h2 {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

p {
  font-size: 14px;
  line-height: 1.6;
}

@media (min-width: 500px) {
  .section {
    width: 30%;
  }
}
